canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    position: absolute;
}

#restartFilter {
    position: absolute;
    background-color: black;
    opacity: 0.3;
    width: 480px;
    height: 270px;
    z-index: 1;
    display: none;
}

#restartButton {
    position: absolute;
    padding-top: 130px;
    padding-left: 200px;
    z-index: 1;
    display: none;
}
